<launch>

  <node pkg="lidar_n301_driver" type="lidar_n301_driver_node" name="lidar_n301_driver_node" output="screen" ns="LeftLidar">
    <param name="frame_id" value="laser_link"/>
    <param name="device_ip" value="192.168.1.222"/>
    <param name="device_port" value="2369"/>
  </node>

  <node pkg="lidar_n301_decoder" type="lidar_n301_decoder_node" name="lidar_n301_decoder_node" output="screen" ns="LeftLidar">
    <param name="child_frame_id" value="laser_link"/>
    <param name="point_num" value="2000"/>
    <param name="angle_disable_min" value="0"/>
    <param name="angle_disable_max" value="0"/>
    <param name="min_range" value="0.3"/>
    <param name="max_range" value="100.0"/>
    <param name="frequency" value="10.0"/>
    <param name="use_gps_ts" value="false"/>
    <param name="gps_correct" value="true"/>
    <param name="publish_point_cloud" value="true"/>
	<param name="filter_scan_point" value="true"/>
  </node>
  
  <!--node pkg="tf" type="static_transform_publisher" name="base_link2laser" args="0 0 0 0 0 0 world laser_link 100" /-->

  <node pkg="lidar_n301_driver" type="lidar_n301_driver_node" name="lidar_n301_driver_node" output="screen" ns="RightLidar">
    <param name="frame_id" value="laser_link"/>
    <param name="device_ip" value="192.168.1.223"/>
    <param name="device_port" value="2368"/>
  </node>

  <node pkg="lidar_n301_decoder" type="lidar_n301_decoder_node" name="lidar_n301_decoder_node" output="screen" ns="RightLidar">
    <param name="child_frame_id" value="laser_link"/>
    <param name="point_num" value="2000"/>
    <param name="angle_disable_min" value="0"/>
    <param name="angle_disable_max" value="0"/>
    <param name="min_range" value="0.3"/>
    <param name="max_range" value="100.0"/>
    <param name="frequency" value="10.0"/>
    <param name="use_gps_ts" value="false"/>
    <param name="gps_correct" value="true"/>
    <param name="publish_point_cloud" value="true"/>
	<param name="filter_scan_point" value="true"/>
  </node>

    <node pkg="tf" type="static_transform_publisher" name="base_link2laser" args="3 0 0 0 0 0 map laser_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link2laser2" args="0 0 10 0 0 0 map laser_link 100" />

</launch>
